{$PUBLIC_DOMAIN}, www.{$PUBLIC_DOMAIN} {
  encode gzip zstd
  reverse_proxy web:3000
}

{$B2B_DOMAIN} {
  encode gzip zstd
  reverse_proxy b2b:3000
}

{$CORPORATE_DOMAIN} {
  encode gzip zstd
  reverse_proxy corporate:3000
}

{$ADMIN_DOMAIN} {
  encode gzip zstd
  reverse_proxy admin:3000
}

{$API_DOMAIN} {
  encode gzip zstd
  reverse_proxy api:4000
}
